{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    {% if movie is not null %}
    <h1>Movie : {{ movie.title }}</h1>

        <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" class="float-end"/>
    <ul>
        <li>Id : {{ movie.id }}</li>
        <li>Released : {{ movie.releasedAt|date('Y M d') }}</li>
        <li>Country : {{ movie.country }}</li>
        <li>Rated : {{ movie.rated }}</li>
        <li>Genre : {{ movie.genres|reduce((carry, genre) => carry == '' ? genre.name : carry ~ ', ' ~ genre.name) }}</li>
    </ul>
    {% else %}
    <h1>Movie not found.</h1>
    {% endif %}
</div>
{% endblock %}
